.navbar{
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar .logo{
    width: 150px;
  }
  .navbar-menu{
    display: flex;
    list-style: none;
   
    gap: 20px;
    font-size: 18px;
  }
  .navbar-right{
    display: flex;
    align-items: center;
    gap: 40px;
  }
  .navbar button{
    background: transparent;
    border: solid 1px yellow;
    color: white;
    border-radius: 50px;
    cursor: pointer;
    padding: 10px 30px;
    transition: 0.3s;
  }
  .navbar button:hover{
    background-color: aliceblue;
    color: black;
  }
  .navbar li{
    cursor: pointer;
  }
  .navbar-search-icon{
    position: relative;
  }
  .navbar-search-icon .dot{
    position: absolute;
    min-width: 10px;
    min-height: 10px;
    background-color: yellow;
    border-radius: 5px;
    top:-8px;
    right: -8px;

  }
  .navbar-right img{
    width: 32px;
  }
  

  @media (max-width:1050px){
    .navbar .logo{
      width: 140px;
    }
    .navbar-menu{
      gap:20px;
      font-size: 17px;

    }
    .navbar-right{
      gap:30px;
    }
  #ser{
    width: 1px;
  }
    .navbar-right button{
      padding: 8px 25px;
    }
  }


.navbar-profile{
   position: relative;
 }
 .nav-profile-dropdown{
   position: absolute;
   display: none;
   right: 0;
   z-index: 1;
 }
 .navbar-profile:hover .nav-profile-dropdown{
   display: flex;
   flex-direction: column;
   gap: 10px;
   background-color: #494443;
   padding: 12px 25px;
   border-radius: 4px;
   border: 1px solid yellow;
   outline: 2px solid white;
   list-style: none;
 }
 .nav-profile-dropdown li{
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
 }
 .nav-profile-dropdown img{
  width: 20px;
 }
.nav-profile-dropdown li:hover{
  color:yellow;
}
.navbar h1{
  font-style: italic;
  color: yellow;
  margin-left: -150px;
}
  @media (max-width:900px){
    .navbar .logo{
      width: 120px;
    }
    .navbar-menu{
      gap:15px;
      font-size: 17px;

    }
    .navbar-right{
      gap:20px;
    }
    .navbar-right img{
      width: 20px;
    }
    .navbar-right button{
      padding: 7px 25px;
      font-size: 15px;
    }
  }
  @media (max-width:750px){

    .navbar-menu{
      display: none;
    }
  }
  .search-popup {
  position: fixed;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -20%);
  background-color: white;
  width: 300px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  z-index: 1000;
}

.popup-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.popup-search-input {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  margin-bottom: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.search-submit {
  background-color: #4caf50;
  color: white;
  padding: 8px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 10px;
}

.close-popup {
  background: none;
  border: none;
  font-size: 18px;
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 10px;
}
